body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #009879;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #07656f;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #07656f;
}

section {
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin: 6px;
    background-color: #e2e2e2;
    border-radius: 4px;
}

#contact p {
    font-weight: bold;
}
